[nevermore]
# BOM specifies a 16 pixel ring.
# If you don't have LEDs, you can omit the two `led_*` lines entirely
#led_colour_order: GBR
#led_chain_count: 16
#bt_address: 28:CD:C1:08:81:AC
connection_initial_timeout: 15
sensors_fallback: false
# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail's temperature plot.
[temperature_sensor nevermore_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
plot_voc: true

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail's temperature plot.
[temperature_sensor nevermore_exhaust_VOC]
sensor_type: NevermoreSensor
sensor_kind: exhaust
plot_voc: true